.header {
  max-width: 100%;
  background: #cb356b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #bd3f32,
    #cb356b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #bd3f32,
    #cb356b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 8px;
  height: 80px;
}

.img {
  width: 300px;
}
.img img {
  width: 70px;
  height: 70px;
}
.searchbar {
  width: 300px;
}
.navbar {
  width: 300px;
  
}
.contenido {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Courier New', Courier, monospace;
  color: aliceblue;
  font-weight: 600;
}
.navbar .contenido a{
  text-decoration: none;
  color: aliceblue;
}
.navbar .contenido a:hover{
  color: black;
}