.full {
    background-color: #fafafa;
    padding: 20px;
    margin: 20px 0;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    padding: 50px;
}

.header_details {
  max-width: 100%;
  background: #ce0a0a;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  position: relative;
  padding: 40px;
  height: 85px;
}

.image_div img {
  width: 100%;
}